<div class="btn">
    <img src="/images/beer.png" alt="error">
    <a href="beers">Check the Beers!</a>
    <a href="randombeers">Check a Random Beer!</a>
     
     
     
     {{!-- <button>Check the Beers!</button>
     <button>Check a Random Beer!</button>
         --}}

</div>