<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IRONHACK Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div id="page-wrapper">
<div class="nav-bar">
    <a href="/">
        Home
    </a>
   <a href="beers">
        Beers
    </a>
    <a href="randombeers">
        Random Beers
    </a>
</div>
     <div id="content"> <!-- Add id to the content area -->
        {{{ body }}} 
    </div>
    
    <footer>
        <p>Develop by IRONHACK ;)</p>
    </footer>
    </div>
  </body>
</html>
