/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
*{
    padding: 0;
    margin: 0;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2081c3;
  height: 45px;
}
.nav-bar a {
  color: white;
  text-decoration: none;

}
/* .content{
  height: 60%;
} */
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.btn img {
  margin-bottom: 20px;
  width: 490px;
}
.btn a {
  margin: 10px 20px;
  font-size: 1.5em;
  background-color: #2081c3;
  color: white;
  border-style: none;
  border-radius: 5px;
  text-decoration: none;
  padding:10px 20px
}
footer {
  background-color: #0a2c42;
  color: white;
  height: 50px;
  /* position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; */
  margin-top: auto
}
footer p {
  padding: 20px;
}
.beer-img{
  width:70px;
  padding:15px 80px 0px 80px;
}
.details li{
  list-style: none;
}
.details{
  margin-left: 50px;
  padding-left: 10px;
  width:80%;
}
.details a{
  text-decoration: none;

}
.details-style{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details-info{
  line-height: 1.5;
  width:80%;
  font-size: 1.2em;
  padding: 25px 0px;
  margin-bottom: 0px;
}
.tag{
  opacity: 0.5;
  padding: 20px 0px;
}
#random-beer .beer-img{
width:80px;
}

.food-pairing li{
margin-left: 60px;
  list-style: disc;
  
}
.random-style{
  font-size: 1.2em;
  margin-left:230px;
  margin-bottom: 200px;
  line-height: 1.5
}